body{
    font-family: 'Indie Flower', cursive;
    color: #000000;
    margin:0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

* {
    box-sizing: border-box;
  }

h1 {
    margin: 5px
}

div#container {
    width: 100%;
    margin: auto;
    height: 100%;
    min-height: 100%;
}

div#header, div#mobileheader {
    background-color: #211f1f;
    margin: auto;
    text-align: center;
    margin: 0px;
}

div#header > div#title > a  {
    margin: auto; 
    color: #ffffff;
    text-decoration: none;
}

table#mainmenu{
    width: 100%;
    height: 80px;
}

table#mainmenu > tr {
    width: 100%;
}

.mainmenuitem {
    background-image: url('../images/menubutton.png');
    background-size:100% 100%;
    width: 20%;
    text-align: center; 
    vertical-align: middle;
    font-weight: bold;
}

.mainmenuitem > a {
    color: #000000;
    text-decoration: none;
}

#mainarea {
    border: 1px solid black;
    background-color: #f9f9f9;
}

#headerAndMain{
    padding-bottom: 60px;
    min-height: 100%;
}

a {
    color: #ffffff;
}

#footer {
    background-color: #211f1f;
    height: 60px;
    margin-top: -50px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}

.breacrumbs, .breacrumbs > a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
}

.scenelist_block {
    position:relative;
}

.flexcontainer_listbutton
{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: row wrap;
}

.flexitem_listbutton
{
    padding: 5px;
    width: 150px;
    height: 135px;
    margin: 15px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background-image: url('/images/listbutton.png'); 
    display: table;
}

.flexitem_listbutton > a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    text-decoration: none;
}

.flexcontainer_leftmenu {
    display: flex;
}

.flexitem_leftmenu {
    border: 1px solid black;
    background-color: #f9f9f9;
    width: 200px;
    padding: 10px;
    margin-left: 5px;
}
.flexitem_leftmenu > a{
    color: #000000;
    text-decoration: none;
}

.flexitem_mainarea {
    width: 100%;
}

#mainarea a {
    color: #000000;
}

/******** Blackboard ********/
.blackboard {
    width: 100%;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
}

.blackboard td {
    padding:0px;
}

/************** BB Header *********/
.blackboardheader, .blackboardheader tr {
    width: 100%;
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
}

.blackboardheader th:nth-child(even) {
    background-color: #ffffff; 
    width: 50px; 
    height: 50px;
}

.blackboardheader th:nth-child(odd) {
    background-color: #000000; 
    width: 50px; 
    height: 50px;
}

.blackboardheader th:first-child {
    background-color: #000000; 
    width: 100px; 
    height: 50px;
}

.blackboardheader tr:first-child > th {
    border-bottom: 2px solid #000000;
}

/********* BB Body *******/
.blackboardbody {
    height: 100%;
    width: 100%;
    background-color: #211f1f;
    color: #ffffff;
    border-collapse: collapse;
}

.blackboardbody td {
    padding: 10px;
}

.blackboardbody tr > td:first-child {
    width: 10px;
    padding: 0px;
    background-color: #f9f9f9;
}
.blackboardbody tr > td:last-child {
    width: 5px;
    padding: 0px;
    background-color: #f9f9f9;
}

.flexcontainer_blackboard{
    display: flex;
}

.flexitem_blackboard_img {
    border: 1px solid #ffffff;
    width: 50%;
}

.flexitem_blackboard_div{
    display:flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
}

.flexitem_blackboard_div > hr {
    width: 100%;
}

.blackboard_description {
    height: auto;
    flex-grow : 1;
}

.blackboard_date {
    float: left;
}

.blackboard_author {
    float: right;
}