body{
    font-family: 'Indie Flower', cursive;
    color: #000000;
    margin:0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

* {
    box-sizing: border-box;
  }

h1 {
    margin: 5px
}

div#container {
    width: 100%;
    margin: auto;
    height: 100%;
    min-height: 100%;
}

div#header, div#mobileheader {
    background-color: #211f1f;
    margin: auto;
    text-align: center;
    margin: 0px;
}

div#header > div#title > a  {
    margin: auto; 
    color: #ffffff;
    text-decoration: none;
}

table#mainmenu{
    width: 100%;
    height: 80px;
}

table#mainmenu > tr {
    width: 100%;
}

.mainmenuitem {
    background-image: url('../images/menubutton.png');
    background-size:100% 100%;
    width: 20%;
    text-align: center; 
    vertical-align: middle;
    font-weight: bold;
}

.mainmenuitem > a {
    color: #000000;
    text-decoration: none;
}

#mainarea {
    border: 1px solid black;
    background-color: #f9f9f9;
}

#headerAndMain{
    padding-bottom: 60px;
    min-height: 100%;
}

a {
    color: #ffffff;
}

#footer {
    background-color: #211f1f;
    height: 60px;
    margin-top: -50px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}

.breacrumbs, .breacrumbs > a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
}

.scenelist_block {
    position:relative;
}

.flexcontainer_listbutton
{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: row wrap;
}

.flexitem_listbutton
{
    padding: 5px;
    width: 150px;
    height: 135px;
    margin: 15px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background-image: url('/images/listbutton.png'); 
    display: table;
}

.flexitem_listbutton > a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    text-decoration: none;
}

.flexcontainer_leftmenu {
    display: flex;
}

.flexitem_leftmenu {
    border: 1px solid black;
    background-color: #f9f9f9;
    width: 200px;
    padding: 10px;
    margin-left: 5px;
}
.flexitem_leftmenu > a{
    color: #000000;
    text-decoration: none;
}
.flexitem_mainarea {
    width: 100%;
}