div#header {
    padding: 5px 0px 0px 0px;
}

div#header > div#title {
    margin-bottom: 8px;
}

div#header > div#title > a {
    font-size: 32px;
}

table#mainmenu{
    width: 100%;
    height: 80px;
}


.mainmenuitem {
    background-image: url('../images/menubutton.png');
    background-size:100% 100%;
    width: 20%;
    text-align: center; 
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
}

div#mobileheader {
    display: none;
}

.breacrumbs {
    margin: 2px 10px;
}

#mainarea {
    padding: 5px;
    margin: 0px 5px;
}

/*** SCENE LIST ***/
.scenelist_img {
    width:150px; 
    height:110px; 
    float:left;
    overflow:hidden;
    position: relative;
    border:1px solid #000000;
}

.scenelist_img > img {
   min-width: 150px;
   max-width: 210px;
   position: absolute;
   top: -9999px;
   bottom: -9999px;
   left: -9999px;
   right: -9999px;
   margin: auto;
}

.scenelist_title {
   margin-left:150px;
   width:70%;
   height:50px; 
   padding-left: 15px;
}

.scenelist_title > h2 {
   margin-top: 5px;
   font-size: 22px;
}

.scenelist_description {
  float:left; width:70%; height:60px; padding-left: 15px;
}

.scenelist_author {
    margin-left:90%;
    float:right; 
    width:10%; 
    height:110px; 
    top:0; 
    position:absolute;
    font-size: 14px;
}

