body {
    background-color: #d2dbe0;
	color: #232f34;
	font-family: 'Lato', sans-serif;
	margin: 0px;
}

#divImgProfile > img{
	width:100%;
	margin: 80px 0 0 0;
	padding:0;
	display: block;
}

#divImgProfile {
  display: flex;
  width: 100%;
  height: 180px;
  border: none;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

a:visited{
	color: #232f34;
}

#divmain {
	display:block;
	background:#fefefe;
	margin:10px;
	padding: 5px;
	height:auto;
	min-width:250px;
}

#divmain  h1 {
	margin-top:0px;
	color:#fff;
	padding:10px;
	background-color: #344955;
}

#divmain hr {
	background-color: #4a6572;
}

#sitelist ul {
 list-style: none;
 margin: 10px;
 padding: 0;
}

#sitelist ul li a {
	 background-color: #F9AA33;
	 color: #232f34;
	 display: block;
	 font-size: 17px;
	 font-weight: bold;
	 margin-bottom: -1px;
	 padding: 12px 10px;
	 text-decoration: none;
	 margin-bottom: 3px;
}

#sitelist a:hover {
	 background-color: #F9AA33;
	 color: #232f34;
	 display: block;
	 font-size: 17px;
	 font-weight: bold;
	 margin-bottom: -1px;
	 padding: 12px 10px;
	 text-decoration: none;
	 margin-bottom: 3px;
}


/********** MENU *************/

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
  background-color: #344955;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
 
}

.topnav #myLinks a {
	border-bottom:1px white solid;
	 background: #F9AA33;
  color: #232f34;
}


/* Style navigation menu links */
.topnav a {
  background-color: #344955;
  color: #fff;
  padding: 15px 16px;
  font-size: 15px;
  display: block;
  text-decoration:none;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #F9AA33;
  display: block;
  position: absolute;
  color: #232f34;
  right: 0;
  top: 0;
}


/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}